<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css">
    <title>Rozgrywki futbolowe</title>
</head>
<body>
    <header>
        <h2>Światowe Rozgrywki piłkarskie</h2>
        <img src="~/media/obraz1.jpg" alt="boisko">
        <div class="row"></div>
    </header>
    <main>
        @RenderBody();
    </main>
    <footer>Autor: 0000000000</footer>
</body>
</html>