@page
@model cw8.Pages.PrimesModel
<h1>Generator liczb pierwszych</h1>
<p>
    <form asp-page="Primes" method="post">
        <label>Podaj ilość liczb pierwszych: </label>
        <input type="number" asp-for="Amount">
    </form>
</p>