body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    background-color: rgb(14, 13, 13);
    padding: 50px;
    border-radius: 5px;
}
input {
    padding: 10px;
    background-color: transparent;
    outline: 0;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
input::placeholder {
    color: gray;
}
input[type='submit'] {
    background-color: transparent;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}