<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rozgrywki futbolowe</title>
    <link rel="stylesheet" href="~/style.css">
</head>
<body>
<header>
    <h2>Światowe rozgrywki piłkarskie</h2>
    <a asp-action="Gallery"><img src="~/obraz1.jpg" alt="boisko"></a>
</header>
<main>
    @RenderBody()
</main>
</body>
</html>