@model List<MyColor>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Wybierz Kolor</h1>
    <select id="colors">
        @foreach(MyColor color in Model) {
            <option value="@color.Key">@color.Value</option>
        }
    </select>
    
</body>
</html>