<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css">
    <title>API</title>
</head>
<body>
    <header>
        <nav>
            <a asp-action="Index" asp-controller="Home">Get books</a>
            <a asp-action="AddBook" asp-controller="Home">Add book</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>