:root {
    --red: rgb(134, 39, 39);
}
h1 {
    border-bottom: 1px solid var(--red);
}
.container {
    margin: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: var(--red);
}